<div class="cat--header">
  <h1>Find local doctors with the shortest wait time</h1>
</div>

<div class="cat--container">
  <ul>
    <% @categories.each do |category| %>
      <li>
        <div class="cat--item">
          <%= link_to category.title, category_path(category) %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
