<div class="cat--show-container">
  <h3>Book top <%= @category.title%>s near me</h3>
  <ul>
    <% @doctors.each do |doctor| %>
      <li>
        <div class="cat--show-header">
          <p class="cat--show-title">Dr. <%= link_to doctor.name, doctor_path(doctor) %></p>
          <p class="cat--show-phone">cell: +<%= doctor.phone %></p>
        </div>
      </li>
    <% end %>
  </ul>
</div>